*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#0a0a0a;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:#000;
position:sticky;
top:0;
}

.logo{
font-family:Orbitron;
color:#00f7ff;
}

nav a{
margin-left:20px;
text-decoration:none;
color:white;
transition:0.3s;
}

nav a:hover{
color:#00f7ff;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{
font-size:60px;
color:#00f7ff;
}

.hero button{
margin-top:20px;
padding:12px 30px;
background:#00f7ff;
border:none;
border-radius:20px;
cursor:pointer;
}

section{
padding:80px 10%;
}

h2{
text-align:center;
margin-bottom:40px;
color:#00f7ff;
}

.card{
background:#111;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0 0 10px #00f7ff33;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;
}

.skill{
background:#111;
padding:20px;
text-align:center;
border-radius:10px;
box-shadow:0 0 10px #00f7ff44;
}

form{
display:flex;
flex-direction:column;
max-width:500px;
margin:auto;
}

input, textarea{
margin:10px 0;
padding:10px;
border:none;
border-radius:5px;
}

button{
background:#00f7ff;
border:none;
padding:12px;
border-radius:5px;
cursor:pointer;
}

footer{
text-align:center;
padding:20px;
background:#000;
margin-top:40px;
}